$witdh: 100%;
$max-width: 800px;

.formContainer {
    width: $witdh;
    max-width: $max-width;  
    margin: auto;
    padding: 12px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}
.form-control {
    border: rgb(160, 160, 160) solid;
}