$margin: 10px;
$marginLeft: 0px;
$auqua: #8ccfcd;
$lightPink: #dd9ce2;
$lightGreen: #b6efcb;
$lightOrange: #efeab6;
$padding: 6px;
$borderRadius: 5px;

@mixin techItem {
    display: inline-block;
    margin: $margin;
    margin-left: $marginLeft;
    padding: $padding;
    border-radius: $borderRadius;
    cursor: pointer; 
    border: #8ccfcd00 solid 2px;
}

.techItemA {
    @include techItem();
    background-color: $auqua;
}
.techItemB {
    @include techItem();
    background-color: $lightPink;
}
.techItemC {
    @include techItem();
    background-color: $lightGreen;
}
.techItemD {
    @include techItem();
    background-color: $lightOrange;
}

.techItemHover:hover {
    border: solid rgb(95, 95, 95) 2px;
    transition: 0.3s;
}

h5 {
    margin-bottom: 15px;
    margin-top: 20px;
}
h2 {
    margin-left: 5px;
    margin-top: 10px;
}