
.detailContainer {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

$witdh: 100%;
$max-width: 800px;

.formContainer {
    width: $witdh;
    max-width: $max-width;  
    margin: auto;
    padding: 12px;
  //  background-color: rgb(182, 184, 185);
    border-radius: 10px;
}